<ion-view title="About Inside">
    <div class="row invtNav">
      <div class="col col-33 mar-auto0 settings">
        <i class="ion ion-ios-arrow-back"></i>
        <label for="">SETTINGS</label>
      </div>
      <div class="col col-66 mar-auto0">
        <label class="frnds" for="">ABOUT</label>
      </div>
    </div>
    <ion-content class="bg-color">
            <div class="bodyFont accInMargin50">
                    <div class="card">
                            <div class="row userName">
                                <div class="col col-50 "><div for="" class="">OVERVIEW</div></div>  
                                <div class="col col-50 text-right"><i class="ion ion-ios-arrow-right"></i></div>  
                            </div>
                            <div class="row userName">
                                    <div class="col col-50"><label for="">PRIVACY POLICY</label></div> 
                                    <div class="col col-50 text-right"><i class="ion ion-ios-arrow-right"></i></div>  
                                    
                                </div>
                            <div class="row userName">
                                    <div class="col col-50 emailText"><label for="">TERMS OF USE</label></div>   
                                    <div class="col col-50 text-right"><i class="ion ion-ios-arrow-right"></i></div>  
                                    
                                    
                                </div>
                                <div class="row email">
                                        <div class="col col-50"><label for="">PRIVACY POLICY</label></div>    
                                        <div class="col col-50 text-right"><i class="ion ion-ios-arrow-right"></i></div>
                                    </div>
                        </div>
                        <label class="aboutLblIos" for="">Kwack kwack for ios version: 11.2.0 (24133362835)</label>
            </div>
        </ion-content>
        </ion-view>