<ion-view>
        <ion-nav-bar class="bar-stable schedule-bar  nav-height">
            <div class="w15 mar-auto">
                <i class="closenavbar ion ion-ios-close-outline"></i>
            </div>
        </ion-nav-bar>
        <ion-content class="bg-color setting">
            <div class="content-margin">
               <h4>About Kwack Kwack</h4>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse molestias maiores eveniet impedit distinctio rerum
                    tempore blanditiis dolores sit non incidunt, iusto explicabo nobis excepturi ex optio vero necessitatibus
                    eaque! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse molestias maiores eveniet impedit distinctio
                    rerum tempore blanditiis dolores sit non incidunt, iusto explicabo nobis excepturi ex optio vero necessitatibus
                    eaque!</p>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse molestias maiores eveniet impedit distinctio rerum
                            tempore blanditiis dolores sit non incidunt, iusto explicabo nobis excepturi ex optio vero necessitatibus
                            eaque! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse molestias maiores eveniet impedit distinctio
                            rerum tempore blanditiis dolores sit non incidunt, iusto explicabo nobis excepturi ex optio vero necessitatibus
                            eaque!</p>
                <h4>What information is collected by kwack kwack?</h4>
               
              
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse molestias maiores eveniet impedit distinctio rerum
                    tempore blanditiis dolores sit non incidunt, iusto explicabo nobis excepturi ex optio vero necessitatibus
                    eaque! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse molestias maiores eveniet impedit distinctio
                    rerum tempore blanditiis dolores sit non incidunt, iusto explicabo nobis excepturi ex optio vero necessitatibus
                    eaque!
                </p>
            </div>
        </ion-content>
    </ion-view>