<ion-view title="Account Inside">
  <div class="row invtNav">
    <div class="col col-33 mar-auto0 settings" ui-sref="settings">
      <i class="ion ion-ios-arrow-back"></i>
      <label for="">SETTINGS</label>
    </div>
    <div class="col col-66 mar-auto0">
      <label class="frnds" for="">ACCOUNT</label>
    </div>
  </div>
  <ion-content class="bg-color">
    <div class="bodyFont accInMargin50">
      <h2>DETAILS</h2>
      <div class="card">
        <div class="row userName">
          <div class="col col-50">
            <label for="">USERNAME</label>
          </div>
          <div class="col col-50 text-right">
            <i class="ion ion-ios-arrow-right"></i>
          </div>
        </div>
        <div class="row email">
          <div class="col col-50 emailText">
            <label for="">Email</label>
          </div>
          <div class="col col-50 text-right emailId">
            <label for="">viraj@ting.in</label>
            <i class="ion ion-ios-arrow-right arricon"></i>
          </div>
        </div>
      </div>
      <h2>LINKED ACCOUNTS</h2>
      <div class="card">
        <div class="row userName">
          <div class="col">
            <label>TWITTER</label>
          </div>
        </div>
        <div class="row userName">
          <div class="col">
            <label>GOOGLE</label>
          </div>
        </div>
        <div class="row userName">
          <div class="col col-50 emailText">
            <label>FACEBOOK</label>
          </div>
          <div class="col col-50 text-right emailId">
            <label>Viraj Kale</label>
          </div>
        </div>
        <div class="row email">
          <div class="col">
            <label>INSTAGRAM</label>
          </div>
        </div>
      </div>
      <button class="delAcc">Delete This Account</button>
    </div>

  </ion-content>
</ion-view>