<ion-view title="Trailer" class="{{fontChange}}">
    <div class="bar bar-header bar-light">
        <div class="row">
            <div class="col col-33">
                <div ng-click="goToFromState()">
                    <i class="ion ion-ios-arrow-left trailernav"></i>
                </div>
            </div>
            <div class="col col-33 text-center">
                <div>
                    <img src="img/filter/7.png" class="w40">
                </div>
            </div>
            <div class="col col-33">
                <!-- <div class="text-right ">
                    <img src="img/filter/5.png" class="w15">
                </div> -->
            </div>
        </div>
    </div>
    <form name="formFooter">
        <ion-content class="has-header bg-color">

            <div class="text-center">
                <h4 class="pad0 title-explore">KWACK</h4>
            </div>
            <div class="debatetrailerName">
                <label for="">{{newsInfo.name}}</label>
                <div>
                    <span class="articleDate">
                        {{newsInfo.createdAt | fromNowDay}},
                    </span>
                    <span class="articleDate">
                        {{newsInfo.createdAt | fromNowDM}}, {{newsInfo.createdAt | fromNowY}}
                    </span>
                </div>
                <div class="row pad0">
                    <div class=" col-25 pad0" ng-click="inApp(newsInfo.url)">
                        <span class="readarticle">
                            Read Article ...
                        </span>
                    </div>
                    <div class=" col-75 text-right">
                        <div class="display-inline float-right debate-icon text-center">
                            <label class="discoverCardStrip" ui-sref="yourfriends">
                                <img src="img/debate/proicon.png" alt="">
                                <span class="alignbM"></span>
                            </label>
                            <label class="discoverCardStrip" ng-click="nextPage(newsInfo._id)">
                                <img ng-if="!newsInfo.flagForPoll" src="img/debate/poll.png">
                                <img ng-if="newsInfo.flagForPoll" src="img/filter/2.png">
                                <span class="alignbM"> {{newsInfo.polls.length}}</span>
                            </label>
                            <label ng-click="socilaSharing(newsInfo.description,newsInfo.imageUrl,newsInfo.title,newsInfo.url,newsInfo._id)">
                                <img src="img/debate/share.png">
                                <span class=" alignbM">20</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <h4 class="pad0 title-comments">{{commentInfo.length}} COMMENTS</h4>
            </div>
            <div ng-repeat="debate in commentInfo">
                <debate></debate>
            </div>
            <div>
                <div class="debate-card relative">
                    <div class="debateprofile" ng-if="!currentUserInfo.photo || setvarann" ng-click="openModal(); userProfile(currentUserInfo._id)">
                        <img ng-src="img/profile/profile.png" alt="profile-img" class="profile-w">
                    </div>
                    <div class="debateprofile" ng-click="openModal(); userProfile(currentUserInfo._id)">
                        <img ng-if="!setvarann && currentUserInfo.photo && !currentUserInfo.socailLoginPhoto" ng-src="{{currentUserInfo.photo | uploadpath}}"
                            alt="profile-img" class="profile-w">
                        <img ng-if="!setvarann && !currentUserInfo.photo && currentUserInfo.socailLoginPhoto" ng-src="{{currentUserInfo.socailLoginPhoto}}" alt="profile-img"
                            class="profile-w">
                    </div>
                    <div class="list card">
                        <div class="item item-body">
                            <div class="row">
                                <div class="col col-20 relative">
                                </div>
                                <div class="col col-80">
                                    <div class="test" ng-click="openModal(); userProfile(currentUserInfo._id)">
                                        <div class="debate-user user-flex">
                                            <span ng-if="setvarann">ANONYMOUS</span>
                                            <span ng-if="!setvarann">{{currentUserInfo.name}} </span>
                                            <img ng-if="kwackopt=='FOR'" ng-src="img/debate/1.png">
                                            <img ng-if="kwackopt=='AGAINST'" ng-src="img/debate/thum.png">
                                            <img ng-if="kwackopt=='NUETRAl'" ng-src="img/debate/3.png">
                                        </div>
                                    </div>
                                    <div>
                                        <!-- <p>{{news.desc}}</p> -->
                                        <textarea class="text-area" ng-model="commentText" placeholder="Enter your Text" name="comment" rows="3" cols="28" required></textarea>
                                    </div>
                                    <div class="likes">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="absolute top-minus debate-submit">
                        <button class="button btn-yellow" ng-click="saveComment(commentText)" ng-disabled="formFooter.comment.$invalid">SUBMIT</button>
                    </div>
                </div>
            </div>
        </ion-content>
        <div class="footer" ng-show="toggle">
            <div class="bar bar-footer bar-black">
                <div class="row">
                    <div class="col-80">
                        <div class="replay">
                            <textarea class="mar-l10" ng-model="replyText" rows="1" name="replyButt" cols="32" placeholder="Write Something..." required></textarea>
                            <!-- <button ng-click="saveReply(replyText, debate); REPLIES=!REPLIES">go</button> -->
                        </div>
                    </div>
                    <div class="col-20">
                        <div>
                            <button class="button btn-send" ng-disabled="formFooter.replyButt.$invalid" ng-click="saveReply(replyText, debate);">SEND</button>
                        </div>
                    </div>
                </div>
            </div>
    </form>
    </div>

</ion-view>