
<ion-view title="Discover" class="bg-color-yellow">
    <ion-content class="no-top">
        <div class="otp">
                <div class="w15 mar-auto">
                            <img src="img/black-icon.png" alt="logo" class="w100">
                        </div>
                        <div class="text-center">
                            <h2 class="title-discover">DISCOVER</h2>
                            <P class="discover-para">Choose from these category what interests you the most </P>
                        </div>
                <div class="row">
                        <div class="mar-auto relative  placeholderCat">
                            <input type="text" placeholder="Enter category" class="input-category ">
                            <div class="absolute cat-btn-plus">
                            <button class="button ">
                                       <i class="ion ion-plus-round"></i> 
                            </button>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="text-center">
                            <button class="button btn-sports btn-bg-black"> Sports</button>
                            <button class="button btn-comedy btn-bg"> Comedy</button>
                            <button class="button btn-food btn-bg"> Food</button>
                        </div>
                        <div class="text-center">
                            <button class="button btn-science btn-bg"> Science</button>
                            <button class="button btn-entertainment btn-bg"> Entertainment</button>
                        </div>
                        <div class="text-center">
                            <button class="button  btn-science btn-bg"> Fashion</button>
                            <button class="button btn-international btn-bg-black btn-bg"> International</button>
                        </div>
                        <div class="text-center">
                            <button class="button btn-books btn-bg-black "> Books</button>
                            <button class="button btn-comedy btn-bg"> Comedy</button>
                            <button class="button btn-health btn-bg"> Health</button>
                        </div>
                    </div>
        </div>
       
    </ion-content>
    <div class="footer">
        <div class="bar bar-footer bar-black">
           <div class="row">
            <div class="col-50" ui-sref="inviteFriends">
                <div class="skip align-left">
                <span>SKIP</span>
                </div>
           </div>
            <div class="col-50">
                <div class="skip align-right" ui-sref="tab.discoverNews">
                <span>NEXT</span>
                </div>
            </div>
           </div>
        </div>
    </div>

</ion-view>