<ion-view class="bg-color-yellow">
    <ion-content>
        <div>
            <div class="w15 mar-auto">
                <img src="img/black-icon.png" alt="logo" class="w100">
            </div>
            <div class="text-center">
                <h2 class="title-discover">DISCOVER</h2>
                <P class="discover-para">Choose from these category what interests you the most </P>
            </div>
        </div>
        <div>
            <div class="row">
                <div class="">
                    <input type="text" placeholder="Enter Category" class="input-category">
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>