<ion-view title="discoverFull">
    <div class="bar bar-header bar-light">
        <div class="row">
            <div class="col-20">
                <div class="mar-l10" >
                    <img src="img/filter/6.png" class="w25" ui-sref="settings">
                </div>
            </div>
            <div class="col-60 text-center">
                <div>
                    <img src="img/filter/7.png" class="w25">
                </div>
            </div>
            <!-- <div class="col-20">
            </div> -->
        </div>
    </div>
    <ion-content class="bg-color has-header">
        <div class="text-center">
            <h4 class="pad0 title-explore">DISCOVER</h4>
        </div>
      <div>
      </div>
      <div class="discover-item ">
      <div class="bar bar-header item-input-inset placeholderDiscover">
         
            <label class="item-input-wrapper" >
              <i class="icon ion-search placeholder-icon"></i>              
              <input type="text" placeholder="Business" ng-model="searchText.searchText" ng-change="search(searchText)" name="keyword">
              
            </label>
            <!-- <i class="ion ion-ios-close" ng-click="searchCancel()" ng-if="search.search!=''"></i> -->
            
            <button class="button button-clear searchCancel" ng-click="goBackHandler()">
              Cancel
            </button>
        </div>
          </div>
          <div ng-repeat="discover in discoverFull" >
              <discoverfull></discoverfull>
          </div>
      
            </div>
    </ion-content>
</ion-view>