<ion-view title="Discover" class="">
        <ion-nav-bar class="bar-stable schedule-bar  nav-height">
                <div class="row">
                        <div class="col col30 ">
                            <div class="discover-navmenu">
                                    <img src="img/discover/menu.png" alt="">
                            </div>
                
                        </div>
                        <div class="col col30">
                            
                                    </div>
                                    <div class="col col30 discover-navsearch">
                                    <i class="ion ion-search"></i>    
                                                </div>
                    </div>
            
              </ion-nav-bar>
  <ion-content class="bg-color">
      
          <div class="bodyFont">
                <div class="row">
                        <div class="col col-30">
              
                        </div>
                      <div class="col col-30">
                          <label class="discover-head" for="">DISCOVER</label>
                      </div>
                      <div class="col col-30">
              
                      </div>
                    </div>
                    <div class="discover-trend">
                        TRENDING THIS WEEK
                    </div>
                <ion-slides class="discover-ionslide discover-sliderbutton swipperbutton" options="sliderData.sliderOptions" slider="sliderData.sliderDelegate" >
                        
                <ion-slide-page  ui-sref="app.requirement({productId:data._id})">
                        <div class="">
                          <img class="img-responsive" src="img/discover/sliderimg.PNG" alt="">
                        </div>
                        <label class="sliderdesc" for="">Behold: The first high-quality photos of Apple's iPhone X in the wild</label>
                        <div class="">
                            <div class="slidertime">
                                    <i class="ion ion-ios-clock"></i>
                                    <label for="">3m ago</label>
                                    <label class="pad-left10" for=""> broadly.vice.com</label>
                            </div>
                        
                        </div>
                        <div class="display-inline float-right explore-icon text-center strip">
                                <label class=""> <img src="img/explore/5.png"><span class="padd-r"> 20</span></label>
                                <label><img src="img/explore/6.png">
                              <span class="padd-r">  42</span></label>
                                <label> <img src="img/explore/7.png">
                                <span class="colorw">20</span></label>
                            </div>
                    </ion-slide-page>
                    <ion-slide-page  ui-sref="app.requirement({productId:data._id})">
                            <div class="">
                              <img class="img-responsive" src="img/discover/sliderimg.PNG" alt="">
                            </div>
                            
                        </ion-slide-page>
                    </ion-slides>
          </div>
           
  </ion-content>