<ion-view>
    <form name="formName">
    <div class="row text-center">
        <div class="col col-33 cncelNav" ui-sref="settings">CANCEL</div>
        <div class="col col-33 navHead">EDIT</div>
        <div class="col col-33 cncelNav" ng-click="datasave(userInfo)">DONE</div>
    </div>
    <ion-content class="bg-color">
        <div class="bodyFont">
            <div class="profileImg">
                <img src="{{userInfo.photo | uploadpath}} " alt="">
            </div>
            <div class="chngImg">Change Image</div>
           <div class="editCard">
                <div class="card">
                        <div class="editName">
                            <label for="">NAME</label>
                            <input type="text" name="name" ng-model="userInfo.name"   value="{{userInfo.name}}" >
                        </div>
                        <div class="editBio">
                            <label for="">BIO</label>
                            <div>
                              <textarea name="bio" ng-model="userInfo.bio" >{{userInfo.bio}}</textarea>
                            <!--<p ng-model="data.bio">{{userInfo.bio}}.</p>{{data.bio}}-->
                        </div>
                   </div>
           </div>
        </div>
    </ion-content>
   
    </form>
</ion-view>