<ion-view>
    <div class="row text-center">
        <div class="col col-33 cncelNav">CANCEL</div>
        <div class="col col-33 navHead">EDIT</div>
        <div class="col col-33 cncelNav">DONE</div>
    </div>
    <ion-content class="bg-color">
        <div class="bodyFont">
            <div class="profileImg">
                <img src="img/edit/profilechange.jpg" alt="">
            </div>
            <div class="chngImg">Change Image</div>
           <div class="editCard">
                <div class="card">
                        <div class="editName">
                            <label for="">NAME</label>
                            <input type="text" placeholder="VIRAJ KALLE">
                        </div>
                        <div class="editBio">
                            <label for="">BIO</label>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy
                                text of the printing and typesetting industry.</p>
                        </div>
                    </div>
           </div>
          
        </div>
    </ion-content>
</ion-view>