<ion-view>
    <div class="">
        <div class="row">
            <div class="col col-33">
                <div>
                    <img src="img/filter/6.png" class="w15">
                </div>
            </div>
            <div class="col col-33 text-center">
                <div>
                    <img src="img/filter/7.png" class="w40" ui-sref="home">
                </div>
            </div>
            <div class="col col-33">
                <div class="text-right ">
                    <img src="img/filter/5.png" class="w15">
                </div>
            </div>
        </div>
    </div>
    <ion-content class="bg-color has-header">
        <div class="text-center">
            <h4 class="pad0 title-explore">EXPLORE</h4>
        </div>
        <div ng-repeat="news in exploreNews">
            <explore  ui-sref="tab.exploreDetail"> </explore>
        </div>
    </ion-content>
   </ion-view>