<ion-view>
    <div class="bar bar-header bar-light">
        <div class="row">
            <div class="col-33">
                <div>
                    <img src="img/filter/6.png" class="w15">
                </div>
            </div>
            <div class="col-33 text-center">
                <div>
                    <img src="img/filter/7.png" class="w40">
                </div>
            </div>
            <div class="col-33">
                <div class="text-right ">
                    <img src="img/filter/5.png" class="w15">
                </div>
            </div>
        </div>
    </div>
    <ion-content class="bg-color no-header">
        <div class="text-center">
            <h4 class="pad0 title-explore">EXPLORE</h4>
        </div>
        <div class="news-content">
            <div class="list card">
                <div>
                    <img class="full-image" src="img/explore/1.jpg">
                    <div class="item item-body">
                        <h3 class="pad0">Games of Thrones: HBO hacker threaten leak of season finale</h3>
                        <div>
                            <span>Thursday,</span><span> 19 Aug 2017</span>
                            <span class="padd-lr">broadly.voice.com</span>
                            <span><img src="img/explore/4.png" alt=""></span> <span>8 hours ago</span>
                        </div>
                        <div>
                            <p class="pad0">
                                Attackers dump HBO social media account passwords on the internet following hacks of leaks of unaired TV shows and confidential
                                dada
                            </p>
                        </div>
                        <div class="display-inline">
                            <div class="w8"><img src="img/explore/3.png" class="img-responsive"></div>
                        </div>
                        <div class="display-inline float-right">
                            <label class=""> <span ><img src="img/explore/5.png" alt=""></span> 20</label>
                            <label> <span><img src="img/explore/6.png" alt=""></span>
                            42</label>
                            <label >  <span><img src="img/explore/7.png" alt=""></span>
                            20</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="list card">
            <div>
                <img class="full-image" src="img/explore/2.jpg">
            </div>
            <div class="item item-body">
                <h3>Games of Thrones: HBO hacker threaten leak of season finale</h3>
                <div>
                    <span>Thursday,</span><span> 19 Aug 2017</span>
                    <span>broadly.voice.com</span>
                    <span><img src="img/explore/4.png" alt=""></span> <span>8 hours ago</span>
                </div>
                <div>
                    <p>
                        This is a "Facebook" styled Card. The header is created from a Thumbnail List item, the content is from a card-body consisting
                        of an image and paragraph text. The footer consists of tabs, icons aligned left, within the card-footer.
                    </p>
                </div>
                <p>
                    <span><img src="img/explore/3.png" alt=""></span>
                    <span><img src="img/explore/4.png" alt=""></span>
                    <span><img src="" alt=""></span>
                    <span><img src="" alt=""></span>
                </p>
            </div>
        </div>
    </ion-content>
</ion-view>