<ion-view>
    <div class="bar bar-header bar-light">
        <h1 class="title">bar-light</h1>
    </div>
    <ion-content class="bg-color filter">
        <div class="bg-gray has-header text-center">
            <h4>FILTERS</h4>
            <!--<span>Reset</span>-->
        </div>
        <div class="row">
            <div class="col-50">
                <div class="list">
                    <select>
                           <option>Blue</option>
                           <option selected>Green</option>
                           <option>Red</option>
                     </select>
                    </label>
                </div>
            </div>
            <div class="col-50">
                <div class="list">
                    <select>
                      <option>Blue</option>
                      <option selected>Green</option>
                      <option>Red</option>
                    </select>
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="mar-auto">
                <input type="text" placeholder="Enter Category" class="input-category btn-tran">
            </div>
        </div>
        <div>
            <div class="text-center">
                <button class="button btn-sports btn-bg-black"> Sports</button>
                <button class="button btn-science btn-bg"> Science</button>
                <button class="button btn-food btn-bg"> Food</button>
            </div>
            <div class="text-center">
                <button class="button btn-science btn-bg"> Business</button>
                <button class="button btn-entertainment btn-bg"> Entertaintment</button>
            </div>
            <div class="text-center">
                <button class="button  btn-science btn-bg"> Fashion</button>
                <button class="button btn-international btn-bg-black btn-bg"> International</button>
            </div>
            <div class="text-center">
                <button class="button btn-health btn-bg"> Health</button>
                <button class="button btn-books btn-bg-black "> Books</button>
                <button class="button btn-comedy btn-bg"> Comedy</button>
            </div>
        </div>
    </ion-content>
</ion-view>