<ion-view>
    <div class="bar bar-header bar-light">
        <div class="row">
            <div class="col-20">
                <div>
                    <img src="img/filter/6.png" class="w25">
                </div>
            </div>
            <div class="col-60 text-center">
                <div>
                    <img src="img/filter/7.png" class="w25">
                </div>
            </div>
            <div class="col-20">
                <div>
                    <span> <img src="img/filter/5.png" class="w25"></span>
                    <span class="mar-l15"><img src="img/filter/4.png" class="w25"></span>
                </div>
            </div>
        </div>
    </div>
    <ion-content class="filter">
        <div class="bg-gray">
            <h4 class="text-center">FILTERS <span class="float-right reset">Reset</span></h4>
        </div>
        </div>
        <div class="row">
            <div class="col col-50 ">
                <div class="list text-right">
                    <select class="select-month">
                           <option>Month</option>
                           <option>Green</option>
                           <option>Red</option>
                     </select>
                    </label>
                </div>
            </div>
            <div class="col col-50">
                <div class="list text-left">
                    <select class="select-year">
                      <option>Year</option>
                      <option ></option>
                      <option>Red</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="category-preferences">
            <div>
                <h6>My Preferences</h6>
            </div>
        </div>
        <div class="row">
            <div class="mar-auto placeholderCat">
                <input type="text" placeholder="Enter Category" class="input-category btn-tran">
            </div>
        </div>
        <div class="filter-btns">
            <div class="text-center">
                <button class="button btn-sports btn-bg-black"> Sports</button>
                <button class="button btn-science btn-bg"> Science</button>
                <button class="button btn-food btn-bg"> Food</button>
            </div>
            <div class="text-center">
                <button class="button btn-science btn-bg"> Business</button>
                <button class="button btn-entertainment btn-bg"> Entertaintment</button>
            </div>
            <div class="text-center">
                <button class="button  btn-fashion btn-bg"> Fashion</button>
                <button class="button btn-international btn-bg-black btn-bg"> International</button>
            </div>
            <div class="text-center">
                <button class="button btn-health btn-bg-black"> Health</button>
                <button class="button btn-comedy btn-bg"> Comedy</button>
                <button class="button btn-books btn-bg"> Books</button>
            </div>
        </div>
        <div class="category-preferences">
            <div class="row">
                <div class="col-33">
                    <div class="all"><img src="img/filter/1.png" class="img-responsive w20">
                        <span>All</span>
                    </div>
                </div>
                <div class="col-33">
                    <div class="polls"><img src="img/filter/2.png" class="img-resopnsive w25">
                        <span>Polls</span>
                    </div>
                </div>
                <div class="col-33">
                    <div class="kwack"><img src="img/filter/3.png" class="img-resopnsive w20">
                        <span>Kwack</span>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
    <div class="bar bar-footer customFooter footer-height">
        <div class="row pad0">
            <div class="pad0 border-r col col-20 ">
                <div class="footerImg ">
                    <img class="img-responsive" src="img/Footerhome.PNG">
                </div>
            </div>
            <div class="pad0 border-r col col-20">
                <div class="footerImg ">
                    <img class="img-responsive" src="img/compass.PNG">
                </div>
            </div>
            <div class="pad0 border-r col col-20">
                <div class="footerKwackImg">
                    <img class="img-responsive" src="img/kwackFooter.PNG">
                </div>
            </div>
            <div class="pad0 border-r col col-20">
                <div class="footerImg">
                    <img class="img-responsive" src="img/shareit.png">
                </div>
            </div>
            <div class="pad0 border-r col col-20">
                <div class="footerImg">
                    <img class="img-responsive" src="img/profileFooter.PNG">
                </div>
            </div>
        </div>
    </div>
</ion-view>