<ion-view title="InviteFriends" class="{{fontChange}}">
  <ion-nav-bar class="bar-stable schedule-bar  nav-height">
    <div class="w15 mar-auto">
      <i class="closenavbar ion ion-ios-close-outline"></i>
    </div>
  </ion-nav-bar>
  <div class="text-center invthdrdiv padt10">
    <div class="rel">
      <div class="display-inline toggleyouKnow" ng-click="people()" ng-class="{'select' : toggle == true}">
        People you may know
      </div>
      <div class="display-inline toggleContacts" ng-click="contact()" ng-class="{'select' : !toggle}">
        Contacts
      </div>
    </div>
  </div>
  <ion-content class="has-header">
    <div class="list friends listdetail">
      <a class="item item-avatar">
        <img src="img/inviteFriends/Dp.png">
        <h2>Jamila Mamawala</h2>
        <p>jamie20</p>
        <img class="followersUn" ng-show="!follow" ng-click='follow=true' src="img/inviteFriends/Unfollow.png">
        <img class="followersUn" ng-show="follow" ng-click='follow=false' src="img/inviteFriends/follow.png">
      </a>
      <a class="item item-avatar">
        <img src="img/inviteFriends/Dp.png">
        <h2>Apoorv Akhouri</h2>
        <p>apoorv-08</p>
        <img class="followersUn" ng-show="!follow1" ng-click='follow1=true' src="img/inviteFriends/Unfollow.png">
        <img class="followersUn" ng-show="follow1" ng-click='follow1=false' src="img/inviteFriends/follow.png">
      </a>
      <a class="item item-avatar">
        <img src="img/inviteFriends/Dp.png">
        <h2>Sarvesh Bramhe</h2>
        <p>saru17</p>
        <img class="followersUn" ng-show="!follow2" ng-click='follow2=true' src="img/inviteFriends/Unfollow.png">
        <img class="followersUn" ng-show="follow2" ng-click='follow2=false' src="img/inviteFriends/follow.png">
      </a>
      <a class="item item-avatar">
        <img src="img/inviteFriends/Dp.png">
        <h2>Rakesh Pujari</h2>
        <p>Rk1798</p>
        <img class="followersUn" ng-show="!follow3" ng-click='follow3=true' src="img/inviteFriends/Unfollow.png">
        <img class="followersUn" ng-show="follow3" ng-click='follow3=false' src="img/inviteFriends/follow.png">
      </a>
      <a class="item item-avatar">
        <img src="img/inviteFriends/Dp.png">
        <h2>Rakesh Pujari</h2>
        <p>Rk1798</p>
        <img class="followersUn" ng-show="!follow3" ng-click='follow3=true' src="img/inviteFriends/Unfollow.png">
        <img class="followersUn" ng-show="follow3" ng-click='follow3=false' src="img/inviteFriends/follow.png">
      </a>
      <a class="item item-avatar">
        <img src="img/inviteFriends/Dp.png">
        <h2>Rakesh Pujari</h2>
        <p>Rk1798</p>
        <img class="followersUn" ng-show="!follow3" ng-click='follow3=true' src="img/inviteFriends/Unfollow.png" alt="">
        <img class="followersUn" ng-show="follow3" ng-click='follow3=false' src="img/inviteFriends/follow.png" alt="">
      </a>
      <a class="item item-avatar">
        <img src="img/inviteFriends/Dp.png">
        <h2>Rakesh Pujari</h2>
        <p>Rk1798</p>
        <img class="followersUn" ng-show="!follow3" ng-click='follow3=true' src="img/inviteFriends/Unfollow.png" alt="">
        <img class="followersUn" ng-show="follow3" ng-click='follow3=false' src="img/inviteFriends/follow.png" alt="">
      </a>
      <a class="item item-avatar">
        <img src="img/inviteFriends/Dp.png">
        <h2>Rakesh Pujari</h2>
        <p>Rk1798</p>
        <img class="followersUn" ng-show="!follow3" ng-click='follow3=true' src="img/inviteFriends/Unfollow.png" alt="">
        <img class="followersUn" ng-show="follow3" ng-click='follow3=false' src="img/inviteFriends/follow.png" alt="">
      </a>
      <a class="item item-avatar">
        <img src="img/inviteFriends/Dp.png">
        <h2>Rakesh Pujari</h2>
        <p>Rk1798</p>
        <img class="followersUn" ng-show="!follow3" ng-click='follow3=true' src="img/inviteFriends/Unfollow.png">
        <img class="followersUn" ng-show="follow3" ng-click='follow3=false' src="img/inviteFriends/follow.png">
      </a>
    </div>
  </ion-content>
  <div class="footer">
    <div class="bar bar-footer bar-black">
      <div class="row">   
        <div class="col-90" ui-sref="tab.trailer">
          <div class="skip text-right">
            <span>NEXT</span>
          </div>
        </div>
      </div>
      </div>
      </div>
 </ion-view>