<ion-view view-title="Home" class="{{ fontChange }}">
  <ion-content class="bg-color no-top">
    <div class="text-center">
      <ion-slides
        class="ionslide sliderbutton swipperbutton"
        options="sliderData.sliderOptions"
        slider="sliderData.sliderDelegate"
      >
        <ion-slide-page>
          <div class="">
            <img class="img-responsive" src="img/tag.png" alt="" />
          </div>
          <div class="text-center">
            <label class="sliderlabel" for="">Social</label>
          </div>
          <div class="text-center slidertext">
            <label
              >Spread the word by sharing breaking news all over social
              media.</label
            >
          </div>
          <!-- <button class=" skipButton">
                      SKIP
                    </button> -->
        </ion-slide-page>
        <ion-slide-page>
          <div class="">
            <img class="img-responsive" src="img/message.png" alt="" />
          </div>
          <div class="text-center">
            <label class="sliderlabel" for="">News Feed</label>
          </div>
          <div class="text-center slidertext">
            <label for=""
              >Stay informed with summarized breaking news specially customized
              for you.
            </label>
          </div>
          <!-- <button class=" skipButton">
                      SKIP
                    </button> -->
        </ion-slide-page>
        <ion-slide-page>
          <div class="">
            <img class="img-responsive" src="img/message-amde.png" alt="" />
          </div>
          <div class="text-center">
            <label class="sliderlabel" for="">Kwack Forum</label>
          </div>
          <div class="text-center slidertext">
            <label for=""
              >Join debates and share opinions about news of your
              interest.</label
            >
          </div>
          <!-- <button class=" skipButton">
                      SKIP
                    </button> -->
        </ion-slide-page>
        <ion-slide-page>
          <div class="">
            <img class="img-responsive" src="img/rocket.png" alt="" />
          </div>
          <div class="text-center">
            <label class="sliderlabel" for="">Select your Preference</label>
          </div>
          <div class="text-center slidertext">
            <label for=""
              >Choose from various news categories to get news of your
              choice.</label
            >
          </div>
        </ion-slide-page>
      </ion-slides>
      <button class="skipButton" ui-sref="tab.explore">SKIP</button>
    </div>
  </ion-content>
</ion-view>
