<ion-view view-title="" class="">
    <ion-content class= "bg-color">

      <div>
          <ion-slides class="ionslide sliderbutton swipperbutton" options="sliderData.sliderOptions" slider="sliderData.sliderDelegate" >
              <ion-slide-page  ui-sref="app.requirement({productId:data._id})">
                  <div class="">
                    <img class="img-responsive" src="img/tag.png" alt="">
                  </div>
                  <div class="text-center">
                      <label class="sliderlabel" for="">News Feed</label>
                  </div>
                  <div class="text-center slidertext">
                    <label for="">Lorem Ipsum is simply dummmy text of the printing and typesetting industry.</label>
                  </div>
                  <button class=" skipButton">
                      SKIP
                    </button>
              </ion-slide-page>
              <ion-slide-page  ui-sref="app.requirement({productId:data._id})">
                  <div class="">
                    <img class="img-responsive" src="img/message.png" alt="">
                  </div>
                  <div class="text-center">
                      <label class="sliderlabel" for="">News Feed</label>
                  </div>
                  <div class="text-center slidertext">
                    <label for="">Lorem Ipsum is simply dummmy text of the printing and typesetting industry.</label>
                  </div>
                  <button class=" skipButton">
                      SKIP
                    </button>
              </ion-slide-page>
              <ion-slide-page  ui-sref="app.requirement({productId:data._id})">
                  <div class="">
                    <img class="img-responsive" src="img/message-amde.png" alt="">
                  </div>
                  <div class="text-center">
                      <label class="sliderlabel" for="">News Feed</label>
                  </div>
                  <div class="text-center slidertext">
                    <label for="">Lorem Ipsum is simply dummmy text of the printing and typesetting industry.</label>
                  </div>
                  <button class=" skipButton">
                      SKIP
                    </button>
              </ion-slide-page>
              <ion-slide-page  ui-sref="app.requirement({productId:data._id})">
                  <div class="">
                    <img class="img-responsive" src="img/rocket.png" alt="">
                  </div>
                  <div class="text-center">
                      <label class="sliderlabel" for="">News Feed</label>
                  </div>
                  <div class="text-center slidertext">
                    <label for="">Lorem Ipsum is simply dummmy text of the printing and typesetting industry.</label>
                  </div>
                  <button class=" skipButton">
                      SKIP
                    </button>
              </ion-slide-page>
            </ion-slides>
      </div>

    </ion-content>
  </ion-view>
  