<ion-view>
    <div class="bar bar-header bar-light">
        <div class="row">
            <div class="col-20">
                <!-- <div class="mar-l10">
                    <img src="img/filter/6.png" class="w25" ui-sref="settings">
                </div> -->
            </div>
            <div class="col-60 text-center">
                <div>
                    <img src="img/filter/7.png" class="w25">
                </div>
            </div>
            <div class="col-20">
                <div class="martop">
                    <span ui-sref="tab.kwacksearch">
                        <img src="img/filter/5.png" class="w25">
                    </span>
                    <span class="mar-l15" ng-click="openModal(); interestLoad()">
                        <img src="img/kwack.png" class="w25">
                    </span>
                </div>

            </div>
        </div>
    </div>
    <ion-content class="bg-color has-bottom">
        <ion-refresher on-refresh="doRefresh(true)"></ion-refresher>
        <div class="text-center">
            <h4 class="pad0 title-explore">KWACK</h4>
        </div>
        <div ng-if="news.length==0" class="text-center pad-10">No news available right now please apply some filters</div>
        <div class="kwackcard-padd ">
            <div class="list imagePos kwack-card">
                <div ng-repeat="test in news">
                    <card></card>
                </div>
            </div>
        </div>
        <ion-infinite-scroll ng-if="pagination.shouldLoadMore" on-infinite="loadMore()" distance="2px"></ion-infinite-scroll>
    </ion-content>
</ion-view>