<ion-view>
    <div class="bar bar-header bar-light">
        <div class="row">
            <div class="col-20">
                <div>
                    <img src="img/filter/6.png" class="w25">
                </div>
            </div>
            <div class="col-60 text-center">
                <div>
                    <img src="img/filter/7.png" class="w25">
                </div>
            </div>
            <div class="col-20">
                <div>
                    <span> <img src="img/filter/5.png" class="w25"></span>
                    <span class="mar-l15"><img src="img/filter/4.png" class="w25"></span>
                </div>
            </div>
        </div>
    </div>
    <ion-content>
            <!-- <div><h4 class="kwack-head text-center">KWACK</h4></div> -->
            <div class="text-center">
                <h4 class="pad0 title-explore">KWACK</h4>
            </div>
            <div class="kwackcard-padd">
            <div class="list imagePos kwack-card">
                
                     <a class="item item-thumbnail-left ">
                                <img class="img-responsive" src="img/invite/padthumb.jpg">
                                <h2>'Padmavati' trailer: Deepika Padukone-Shahid Kapoor and </h2>
                                <p>Thursday, 19 Aug 2017</p>
                              <p class=" float-right explore-icon text-center ">   <label class="discoverCardStrip"> <img class="" src="img/explore/5.png"><span class=" alignM"> 21</span></label>
                                <label class="discoverCardStrip"><img class="img-responsive" src="img/explore/6.png">
                                  <span class=" alignM">  42</span></label>
                                <label> <img src="img/explore/7.png">
                                <span class="colorw alignM">12</span>
                                </label></p>
                              </a>
                             

                               <a class="item item-thumbnail-left ">
                                <img class="img-responsive" src="img/invite/justthumb.jpg">
                                <h2>The Flash season 4: New episodes, release date, cast, villain and </h2>
                                <p>Thursday, 19 Aug 2017</p>
                                <p class=" float-right explore-icon text-center ">   <label class="discoverCardStrip"> <img class="" src="img/explore/5.png"><span class=" alignM"> 21</span></label>
                                    <label class="discoverCardStrip"><img class="img-responsive" src="img/explore/6.png">
                                      <span class=" alignM">  42</span></label>
                                    <label> <img src="img/explore/7.png">
                                    <span class="colorw alignM">12</span>
                            </label></p>
                              </a>
                              <a class="item item-thumbnail-left ">
                                <img class="img-responsive" src="img/invite/modithumb.jpg">
                                <h2>PM Modi wraps up Myanmar trip with visit to 2500-year-old Shwedagon Pagoda</h2>
                                <p>Thursday, 19 Aug 2017</p>
                                <p class=" float-right explore-icon text-center ">   <label class="discoverCardStrip"> <img class="" src="img/explore/5.png"><span class=" alignM"> 21</span></label>
                                    <label class="discoverCardStrip"><img class="img-responsive" src="img/explore/6.png">
                                      <span class=" alignM">  42</span></label>
                                    <label><img src="img/explore/7.png">
                                    <span class="colorw alignM">12</span>
                                    </label></p>
                             </a>
                              <a class="item item-thumbnail-left ">
                                <img class="img-responsive" src="img/invite/1+5Tthumb.jpg">
                                <h2>Vivo V7+ with FullView display launching in India, pre-orders to begin today</h2>
                                <p>Thursday, 19 Aug 2017</p>
                                <p class=" float-right explore-icon text-center ">   <label class="discoverCardStrip"> <img class="" src="img/explore/5.png"><span class=" alignM"> 21</span></label>
                                    <label class="discoverCardStrip"><img class="img-responsive" src="img/explore/6.png">
                                      <span class=" alignM">  42</span></label>
                                    <label> <img src="img/explore/7.png">
                                    <span class="colorw alignM">12</span>
                            </label></p>
                              </a>
                              <a class="item item-thumbnail-left ">
                                <img class="img-responsive" src="img/invite/1+5Tthumb.jpg">
                                <h2>Vivo V7+ with FullView display launching in India, pre-orders to begin today</h2>
                                <p>Thursday, 19 Aug 2017</p>
                                <p class=" float-right explore-icon text-center ">   <label class="discoverCardStrip"> <img class="" src="img/explore/5.png"><span class=" alignM"> 20</span></label>
                                    <label class="discoverCardStrip"><img class="img-responsive" src="img/explore/6.png">
                                      <span class=" alignM">  42</span></label>
                                    <label> <img src="img/explore/7.png">
                                    <span class="colorw alignM">20</span>
                            </label></p>
                              </a>
                            </div>
                            </div>
        </ion-content>
       

    
</ion-view>