<ion-view>
    <div class="bar bar-header bar-light">
        <div ng-include="tabHeader"></div>
    </div>
    <ion-content class="bg-color has-bottom">
            <ion-refresher ng-if="!searchInput" on-refresh="doRefresh(true)"></ion-refresher>
            <div ng-if="!searchInput">
                    <div class="text-center">
                            <h4 class="pad0 title-explore">KWACK</h4>
                        </div>
                        <div ng-if="news.length==0" class="text-center pad-10">No news available right now please apply some filters</div>
                        <div class="kwackcard-padd ">
                            <div class="list imagePos kwack-card">
                                <div ng-repeat="test in news">
                                    <card></card>
                                </div>
                            </div>
                        </div>
                        
            </div>
            <!-- <div ng-if="news.length==0" class="text-center pad-10">No news available right now please apply some filters</div> -->
            <!-- <div class="kwackcard-padd ">
                <div class="list imagePos kwack-card">
                    <div ng-repeat="test in news">
                        <card></card>
                    </div>
                </div>
            </div> -->
        </div>
        <ion-infinite-scroll ng-if="pagination.shouldLoadMore && !searchInput" on-infinite="loadMore()" distance="2px"></ion-infinite-scroll>
        <div ng-if="searchInput" ng-include="searchInclude">
    </ion-content>
</ion-view>