<ion-view title="Location">
    <ion-content class="bg-color ">
        <div class="otp">
            <div class="w25 mar-auto">
                <img src="img/filter/7.png" alt="logo" class="w100">
            </div>
            <div class="text-center">
                <h2 class="title-discover">Location</h2>
                <P class="discover-para">Get the best from your location</P>
            </div>
           
        </div>
    </ion-content>
    <div class="footer">
        <div class="bar bar-footer bar-black">
            <div class="col-20">
                <div class="arrow-back text-center">
                    <a class="button">
                        <i class="ion ion-ios-arrow-back"></i>
                    </a>
                </div>
            </div>
            <div class="col-75">
                <div class="skip text-right mar-r">
                    <span>NEXT</span>
                </div>
            </div>
        </div>
    </div>
</ion-view>