<ion-view title="Location">
    <form name="formName">
        <ion-content class="bg-color no-top">
            <div class="otp">
                <div class="w25 mar-auto">
                    <img src="img/filter/7.png" alt="logo" class="w100">
                </div>
                <div class="text-center">
                    <h2 class="title-discover">LOCATION</h2>
                    <p class="locationtHead">Get the best from your region</p>
                </div>
                <div class="cardBox">
                    <div class="card pad2010">
                      
                        <div class="rel pad-10">
                            <div class="plusposition">
                                <img src="img/plus1.png" alt="">
                            </div>
                           
                            <select class="form-control locationtHead locationWidth"  ng-model="formName.selectedCountry"
                                required>
                                <option value="" selected>Select Country</option>
                                <option ng-repeat="data in countryData">{{data.countryName}}</option>
                            </select>
                        </div>
                        <div class="rel pad-10" ng-if="formName.selectedCountry.countryName === 'India'">
                            <div class="plusposition">
                                <img src="img/plus1.png">
                            </div>
                            <select class="form-control locationtHead locationWidth"  ng-model="formName.selectedState"
                               required>
                                <option value="" selected>Select State</option>
                                <option ng-repeat="stname in stateData">{{stname.stateName}}</option>
                            </select>
                        </div>
                        <div class="rel pad-10 locationtHead" ng-if="formName.selectedCountry.countryName != 'India'" ng-init="formName.selectedState =''">
                           
                            <input type="text" ng-model="formName.selectedState" placeholder="Enter State" />
                        </div>
                    </div>
                </div>
            </div>
        </ion-content>
        <div class="footer">
            <div class="bar bar-footer bar-black">
                <div class="row">
                    <div class="col-20" ui-sref="home">
                        <div class="arrow-back text-center">
                            <a class="button">
                                <i class="ion ion-ios-arrow-back"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-75">
                        <div class="skip text-right mar-r" ng-click="goTOProfile(formName)">
                            <span>NEXT</span>
                        </div>
                       
                    </div>
                </div>
            </div>
            </div>
    </form>
</ion-view>