<ion-view>
    <ion-content class="bg-color ">
        <div class="has-header">
            <div class="w25 mar-auto">
                <img src="img/filter/7.png" alt="logo" class="w100">
            </div>
            <div class="text-center">
                <h2 class="title-discover">OTP</h2>
                <P class="discover-para">Enter your 4 digit Verification Code </P>
            </div>
            <div>
               <div class="display-inline"> <input type="text" class="border-bot otp-input"></div>
              <div class="display-inline">  <input type="text" class="border-bot otp-input"></div>
               <div class="display-inline"> <input type="text" class="border-bot otp-input"></div>
               <div class="display-inline"> <input type="text" class="border-bot otp-input"></div>
            </div>
        </div>
    </ion-content>
    <div class="footer">
        <div class="bar bar-footer bar-black">
            <div class="col-50">
                <div class="arrow-back text-center">
                    <a class="button">
                        <i class="ion ion-ios-arrow-back"></i>
                    </a>
                </div>
            </div>
            <div class="col-50 text-center">
                <div class="skip text-center">
                    <span>NEXT</span>
                </div>
            </div>
        </div>
    </div>
</ion-view>