<ion-view title="Trailer">
     <div class="bar bar-header bar-light">
        <div class="row">
          <div class="col col-33">
            <div ui-sref="tab.discoverNews">
              <i class="ion ion-ios-arrow-left trailernav"></i>
            </div>
          </div>
          <div class="col col-33 text-center">
            <div>
              <img src="img/filter/7.png" class="w40">
            </div>
          </div>
          <div class="col col-33">
            <div class="text-right ">
              <img src="img/filter/5.png" class="w15">
            </div>
          </div>
        </div>
      </div>
      <ion-content class="has-header bg-color">
        <div class="text-center">
          <h4 class="pad0 title-explore">KWACK</h4>
        </div>
        <div class="trailerImage">
          <img class="img-responsive" src="{{newsInfo.imageUrl}}" alt="">
        </div>
        <div class="trailerName">
          <label for="">{{newsInfo.title}}</label>
          <div>
            <span class="articleDate">
              Monday,
            </span>
            <span class="articleDate">
              Oct 9, 2017
            </span>
          </div>
          <div class="row pad0 pollingBorder">
            <div class="col col-30 pad0">
              <span class="readarticle">
                Read Article ...
              </span>
            </div>
            <div class="col col-70 pad0">
              <div class="display-inline float-right debate-icon text-center">
                <label class="discoverCardStrip" ui-sref="inviteFriends">
                <img src="img/debate/proicon.png">
                <span class="pollingCounts"></span>
                </label>
                <label class="discoverCardStrip">
                <img src="img/debate/poll.png">
                <span class="pollingCounts"> {{TotalPoll}}</span>
                </label>
                <label>
                <img src="img/debate/share.png">
                <span class=" pollingCounts">20</span>
                </label>
                </div>
            </div>
    
          </div>
        </div>
    
       <div class="relative">
          <div class="pollRight">
              <img src="img/pollingInside/right.png" alt="">
            </div>
            <div class="pollWrong">
                <img src="img/pollingInside/wrong.png" alt="">
              </div>
          <div class="row">
              
              <div class="col col-50">
               <div class="card text-center relative pollCardpad">
                 <div class="pollUpDown">
                   <img src="img/pollingInside/Up.png" alt="">
                 </div>
                 <div class="pollRoProBar"><round-progress
                   max="100"
                   current="64"
                   color="#ffc943"
                   bgcolor="#eaeaea"
                   radius="50"
                   stroke="6"
                   semi="false"
                   rounded="false"
                   clockwise="true"
                   responsive="false"
                   duration="800"
                   animation="easeInOutQuart"
                   animation-delay="0"></round-progress></div>
                   <div class="pollPercent">
                      <label for="">64</label>
                      <span>%</span>
                   </div>
                   <label class="pollAnswer" for="">Yes</label>
               </div>
              </div>
              <div class="col col-50">
                <div class="card  text-center relative pollCardpad">
                    <div class="pollUpDown">
                        <img src="img/pollingInside/downarr.png" alt="">
                      </div>
                   <div class="pollRoProBar"><round-progress
                     max="100"
                     current="36"
                     color="#000000"
                     bgcolor="#eaeaea"
                     radius="50"
                     stroke="6"
                     semi="false"
                     rounded="false"
                     clockwise="true"
                     responsive="false"
                     duration="800"
                     animation="easeInOutQuart"
                     animation-delay="0"></round-progress></div>
                     <div class="pollPercent">
                        <label for="">36</label>
                        <span>%</span>
                     </div>
                     <label class="pollAnswer" for="">No</label>
                </div>
              </div>
               
         
             </div>
       </div>
        
       
       
      </ion-content>
     
    </ion-view>