<ion-view>
    <ion-nav-bar class="bar-stable schedule-bar  nav-height">
        <div class="text-center" ui-sref="tab.aboutinside">
            <i class="closenavbar ion ion-ios-close-outline"></i>
        </div>
    </ion-nav-bar>
    <ion-content class="has-header bg-color  has-bottom">
        <div class="terms">
            <h4>Privacy Policy</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id purus vel nisl gravida interdum a ac metus. Donec
                id placerat sem. Fusce placerat id turpis in ultricies. Morbi egestas, ligula vel ornare consectetur, dolor
                neque tincidunt magna, quis eleifend libero lectus a nisl. Nunc at ullamcorper neque. Mauris feugiat a sapien
                a venenatis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed ut
                libero laoreet, tincidunt arcu sit amet, imperdiet libero.</p>
            <p>Suspendisse et malesuada lectus. Donec elementum eros a velit pellentesque vehicula. Maecenas volutpat diam nisl,
                et tempus velit vestibulum ut. Pellentesque tortor arcu, sollicitudin ut pellentesque sed, maximus eu nulla.
                Sed varius mi lacus, vel rhoncus leo convallis lobortis. Sed convallis purus eget nunc mollis tincidunt.
                Duis ac feugiat magna, ac dignissim sapien.</p>
            <p>Quisque viverra condimentum hendrerit. Aliquam ac accumsan massa. Aliquam hendrerit metus sapien, quis vestibulum
                leo auctor at. Pellentesque volutpat justo id massa dignissim, at aliquam enim euismod. Vivamus scelerisque
                nulla at rhoncus congue. Morbi id enim nisl. Ut non dolor lacus. Morbi consequat sagittis egestas. Morbi
                mi dolor, ullamcorper sit amet sapien quis, mollis dictum est. Integer eu dolor bibendum, euismod eros eu,
                commodo leo. Aenean eu tellus vel augue sodales semper ac malesuada felis.</p>
            <p>Aliquam metus lorem, lobortis sed magna rhoncus, aliquam faucibus elit. Morbi vehicula, quam non laoreet lobortis,
                tortor lorem dictum dolor, non suscipit magna magna et augue. Curabitur turpis turpis, tempus at sem sit
                amet, fringilla convallis sapien. Quisque vitae bibendum risus. Sed </p>
            <h4> what information is collected by kwack kwack?</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id purus vel nisl gravida interdum a ac metus. Donec
                id placerat sem. Fusce placerat id turpis in ultricies. Morbi egestas, ligula vel ornare consectetur, dolor
                neque tincidunt magna, quis eleifend libero lectus a nisl. Nunc at ullamcorper neque. Mauris feugiat a sapien
                a venenatis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed ut
                libero laoreet, tincidunt arcu sit amet, imperdiet libero.</p>
        </div>
    </ion-content>
</ion-view>