<ion-view>
    <div class="row text-center">
        <div class="col col-33 cncelNav">DONE</div>
        <div class="col col-33 navHead">SETTINGS</div>
        <div class="col col-33 cncelNav">SIGN OUT</div>
    </div>
    <ion-content class="bg-color settings">
        <div class="bodyFont ">
            <div class="row">
                <div class="col-50">
                    <div class="profileImg">
                        <img src="img/edit/profilechange.jpg">
                    </div>
                </div>
                <div class="col-50">
                    <div class="chngImg">UPDATE PHOTO</div>
                </div>
            </div>
        </div>
        <div class="account">
            <label>ACCOUNT</label>
        </div>
        <div class="editCard">
            <div class="card">
                <div class="row userName">
                    <div class="col col-30">
                        <label>ABOUT</label>
                    </div>
                    <div class="col col-50 text-right">
                        <span>A</span>
                        <span>A</span>
                        <span>A</span>
                        <span>A</span>
                    </div>
                </div>
                <div class="row userName">
                    <div class="col col-30">
                        <label>NOTIFICATION</label>
                    </div>
                    <div class="col col-50 text-right">
                        <div class="notification">

                            <label class="toggle">
                                <input type="checkbox">
                                <div class="track">
                                    <div class="handle"></div>
                                </div>
                            </label>
                        </div>
                    </div>
                    <div class="col col-50 text-right">
                        <div class="notification">
                            <label class="toggle">
                                <input type="checkbox">
                                <div class="track">
                                    <div class="handle"></div>
                                </div>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row userName">
                    <div class="col col-30">
                        <label>PREFERENCES</label>
                    </div>
                  
                  
                 
                    <div class="col col-50 text-right">
                        <div class="item-input-inset">
                            <label class="item-input-wrapper">
                                <i class="icon ion-ios-search placeholder-icon"></i>
                                <input type="search" placeholder="Search">
                            </label>
                        </div>
                    </div>
                  </div>
                <div class="settings-btns">
                    <div class="text-center">
                        <button class="button btn-sports btn-bg-black"> Sports</button>
                        <button class="button btn-science btn-bg"> Science</button>
                        <button class="button btn-food btn-bg"> Food</button>
                    </div>
                    <div class="text-center">
                        <button class="button btn-science btn-bg"> Business</button>
                        <button class="button btn-entertainment btn-bg"> Entertaintment</button>
                    </div>
                    <div class="text-center">
                        <button class="button  btn-fashion btn-bg"> Fashion</button>
                        <button class="button btn-international btn-bg-black btn-bg"> International</button>
                    </div>
                    <div class="text-center">
                        <button class="button btn-health btn-bg-black"> Health</button>
                        <button class="button btn-comedy btn-bg"> Comedy</button>
                        <button class="button btn-books btn-bg"> Books</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="account">
            <label>ABOUT</label>
        </div>
        <div class="editCard">
            <div class="card">
                <div class="row userName">
                    <div class="col col-50">
                        <label>ABOUT</label>
                    </div>
                    <div class="col col-50 text-right">
                        <i class="ion ion-ios-arrow-right"></i>
                    </div>
                </div>
                <div class="row userName">
                    <div class="col col-50">
                        <label>ACCOUNT</label>
                    </div>
                    <div class="col col-50 text-right">
                        <i class="ion ion-ios-arrow-right"></i>
                    </div>
                </div>
                <div class="row userName">
                    <div class="col col-50 emailText">
                        <label>FRIENDS</label>
                    </div>
                    <div class="col col-50 text-right">
                        <i class="ion ion-ios-arrow-right"></i>
                    </div>
                </div>
                <div class="row  userName">
                    <div class="col col-50">
                        <label>FEEDBACK</label>
                    </div>
                    <div class="col col-50 text-right">
                        <i class="ion ion-ios-arrow-right"></i>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </ion-content>
</ion-view>