<ion-view>
    <ion-content class="bg-color">
        <div class="content-padd">
            <div>
                <img src="img/signup/bar.png" alt="logo">
            </div>
            <div>
                <div class="list">
                    <label class="item item-input item-floating-label">
                       <input type="text" placeholder="Full Name">
                     </label>
                    <label class="item item-input item-floating-label">
                   <input type="text" placeholder="Username">
                    </label>
                    <label class="item item-input item-floating-label">
                         <input type="text" placeholder="Email">
                     </label>
                    <label class="item item-input item-floating-label">
                        <input type="tel" placeholder="Moblie Number">
                    </label>
                    <label class="item item-input item-floating-label">
                      <input type="password" placeholder="Password">
                      </label>
                    <label class="item item-input item-floating-label">
                         <input type="password" placeholder="Confirm Password">
                      </label>
                </div>
                <div>
                    <button class="button button-energized">
  Sign Up
</button>
                </div>
            </div>
        </div>
    </ion-content>
    <div class="bar bar-footer bar-balanced">
        <div class="title">
            <h5>EXISITING USER ? <span>LOGIN</span></h5>
        </div>
    </div>
</ion-view>