<ion-view title="success">
    <form name="formName">
        <ion-content class="bg-color no-top">
            <div class="otp locationMargin">
                <div class="w25 mar-auto">
                    <img src="img/filter/7.png" alt="logo" class="w100">
                </div>
                <div class="text-center success">
                    <h2 class="title-discover">success!</h2>
                    <P class="discover-para">Your account has been created </P>
                </div>
                <div class="input-mar w18">
                    <img src="img/Success.png" class="w100 mart40">
                </div>
            </div>
        </ion-content>
        <div class="footer">
            <div class="bar bar-footer bar-black">
                <div class="col col-90">
                    <div class="skip text-right" ng-click="nextstate()">
                        <span>NEXT</span>
                    </div>
                </div>
            </div>
        </div>
    </form>
</ion-view>