<ion-view title="Trailer" class="">

  <div class="row">
        <div class="col col-10">
                <i class="closenavbar ion ion-ios-close-outline"></i>
        </div>
        <div class="col col-90">
            <div class="">
                    <span class="" for="">'Padmavati' trailer: Deepika Padukone-Shahid Ka...</span>
            </div>
        </div>
            
    </div>         
  <!-- <div class="bar bar-header bar-light">
    <div class="row">
      <div class="col col-33">
        <div>
          <i class="ion ion-ios-arrow-left trailernav"></i>
        </div>
      </div>
      <div class="col col-33 text-center">
        <div>
          <img src="img/filter/7.png" class="w40">
        </div>
      </div>
      <div class="col col-33">
        <div class="text-right ">
          <img src="img/filter/5.png" class="w15">
        </div>
      </div>
    </div>
  </div> -->
  <ion-content class="has-header bg-color has-footer">
    <div class="text-center">
      <h4 class="pad0 title-explore">KWACK</h4>
    </div>
    <div class="trailerImage">
      <img class="img-responsive" src="img/padmavathi.png" alt="">
    </div>
    <div class="trailerName">
      <label for="">'Padmavati' trailer: Deepika Padukone-Shahid Kapoor and Ranveer Singh's historical saga...</label>
      <div>
        <span class="articleDate">
          Monday,
        </span>
        <span class="articleDate">
          Oct 9, 2017
        </span>
      </div>
      <div class="row pad0">
        <div class="col col-25 pad0">
          <span class="readarticle">
            Read Article ...
          </span>
        </div>
        <!-- <div class="col col-75">
          <div class="row text-right">
            <div class="col-33">
              <div class="followNews">
                <img src="img/trailer/follow.png" alt="">
              </div>
            </div>
            <div class="col col-33">
              <div class="shieldNews">
                <img src="img/trailer/shield.png" alt="">
              </div>
              <span>42</span>
            </div>
            <div class="col col-33">
              <div class="shareNews">
                <img src="img/trailer/share.png" alt="">
               
              </div>
              <span>12</span>
            </div>
          </div>
        </div> -->

      </div>
    </div>

    <div class="bg-yellow">
      <!-- <img src="img/bar.png" alt=""> -->
      <h3>CHOOSE YOUR SIDE</h3>
      <label for="">AND START KWACKING</label>
    </div>
    <div class="row">
      <div class="col col-30 yourSide rel">
        <div>
          <img src="img/43.PNG" alt="">
          <div class="yoursideright"></div>
        </div>

        <label for="" class="yourside-labelsel">FOR</label>
      </div>
      <div class="col col-30 yourSide rel">
        <div>
          <img src="img/34231233.PNG" alt="">
          <div class="yoursideright"></div>
        </div>
        <label class="yourside-label" for="">AGAINST</label>
      </div>
      <div class="col col-30 yourSide">

        <img src="img/Untitled-4 copy.PNG" alt="">

        <label class="yourside-label" for="">NEUTRAL</label>

      </div>

    </div>
    <div class="text-center martop">
      <img class="aligntop" src="img/tick.PNG" alt="">
      <label class="pad-left5 fs-10">CHECK TO GO ANONYMOUS</label>
    </div>
    <button class=" trailernext" ng-click="openModal()">
      NEXT
    </button>
  </ion-content>
  <!-- <div class="bar bar-footer customFooter footer-height">
    <div class="row pad0">
      <div class="pad0 border-r col col-20 ">
        <div class="footerImg ">
          <img class="img-responsive" src="img/Footerhome.PNG" alt="">
        </div>
      </div>
      <div class="pad0 border-r col col-20 ">
        <div class="footerImg ">
          <img class="img-responsive" src="img/compass.PNG" alt="">
        </div>
      </div>
      <div class="pad0 border-r col col-20 ">
        <div class="footerKwackImg ">
          <img class="img-responsive" src="img/kwackFooter.PNG" alt="">
        </div>
      </div>
      <div class="pad0 border-r col col-20 ">
        <div class="footerImg">
          <img class="img-responsive" src="img/shareit.png" alt="">
        </div>
      </div>
      <div class="pad0 border-r col col-20 ">
        <div class="footerImg">
          <img class="img-responsive" src="img/profileFooter.PNG" alt="">
        </div>
      </div>
    </div>

  </div> -->
</ion-view>