<ion-view>

    <ion-content class="bg-color no-top ">
        <div class="mar-t30">

            <div class="w25 mar-auto">
                <img src="img/profile/icon.png" alt="logo" class="w100">
            </div>
            <div class="text-center">
                <h6 class="font-size">Upload Profile Picture </h6>
            </div>
            <div class="">
                <div class="profile-pic mar-auto relative">
                    <img src="img/profile/1.png" alt="logo" class="w100">
                    <div class="absolute plus-btn">
                        <button class="button">
                               <i class="ion ion-plus-round"></i> 
                        </button>
                    </div>
                </div>
                
            </div>
        </div>
    </ion-content >
     <div class="footer">
        <div class="bar bar-footer bar-black">
            <div class="col-20">
           <div class="arrow-back text-center">
               <a class="button">
                   <i class="ion ion-ios-arrow-back"></i>
               </a>
           </div>
            </div>
            <div class="col-50 text-center">
                <div class="skip">
                <span>SKIP</span>
                </div>
            </div>
            <div class="col-20 text-center">
                <div class="skip text-center">
                <span >NEXT</span>
                </div>
            </div>
        </div>
    </div>
</ion-view>