<ion-view title="Trailer" class="">

    <div class="row">
        <div class="col col-10">
                <i class="closenavbar ion ion-ios-close-outline"></i>
        </div>
        <div class="col col-90">
            <div class="Trailertitle">
                    <span class="" for="">'Padmavati' trailer: Deepika Padukone-Shahid Ka...</label>
            </div>
        </div>
            
    </div>         
   <ion-content class="has-header bg-color has-footer">
       <div class="yellowStrip">
           <img src="img/yellowstrip.png" alt="">
       </div>
<div class="trailerImage">
    <img class="img-responsive" src="img/padmavathi.png" alt="">
</div>
<div class="trailerName">
    <label for="">Padmavati' trailer: Deepika Padukone-Shahid Kapoor and Ranveer Singh's historical saga...</label>
    <div>
            <span class="articleDate">
        Monday,
            </span>
            <span class="articleDate">
        Oct 9 ,2017
            </span>

        <span class="readarticle">
          Read Article ...
        </span>
      </div>
    </div>
    <div class="bg-yellow">
      <!-- <img src="img/bar.png" alt=""> -->
      <h3>CHOOSE YOUR SIDE</h3>
      <label for="">AND START KWACKING</label>
    </div>
    <div class="row">
      <div class="col col-30 yourSide rel">
        <div>
          <img src="img/43.PNG" alt="">
          <div class="yoursideright"></div>
        </div>

        <label for="" class="yourside-labelsel">FOR</label>
      </div>
      <div class="col col-30 yourSide rel">
        <div>
          <img src="img/34231233.PNG" alt="">
          <div class="yoursideright"></div>
        </div>
        <label class="yourside-label" for="">AGAINST</label>
      </div>
      <div class="col col-30 yourSide">

        <img src="img/Untitled-4 copy.PNG" alt="">

        <label class="yourside-label" for="">NEUTRAL</label>

      </div>

    </div>
    <div class="text-center martop">
      <img class="aligntop" src="img/tick.PNG" alt="">
      <label class="pad-left5" for="">CHECK TO GO ANONYMOUS</label>
    </div>
    <button class=" trailernext">
      NEXT
    </button>
  </ion-content>
  <!-- <div class="bar bar-footer customFooter footer-height">
    <div class="row pad0">
      <div class="pad0 border-r col col-20 ">
        <div class="footerImg ">
          <img class="img-responsive" src="img/Footerhome.PNG" alt="">
        </div>
      </div>
      <div class="pad0 border-r col col-20 ">
        <div class="footerImg ">
          <img class="img-responsive" src="img/compass.PNG" alt="">
        </div>
      </div>
      <div class="pad0 border-r col col-20 ">
        <div class="footerKwackImg ">
          <img class="img-responsive" src="img/kwackFooter.PNG" alt="">
        </div>
      </div>
      <div class="pad0 border-r col col-20 ">
        <div class="footerImg">
          <img class="img-responsive" src="img/shareit.png" alt="">
        </div>
      </div>
      <div class="pad0 border-r col col-20 ">
        <div class="footerImg">
          <img class="img-responsive" src="img/profileFooter.PNG" alt="">
        </div>
      </div>
    </div>

  </div> -->
</ion-view>
