<ion-view title="Discover" class="">
  <ion-nav-bar class="bar-stable schedule-bar  nav-height">
    <div class="row">
      <div class="col col33 ">
        <div class="discover-navmenu">
          <img src="img/discover/menu.png">
        </div>
      </div>
      <div class="col col33">
        <div class="kwackheaderImg">
          <img src="img/discover/kwack.png">
        </div>
      </div>
      <div class="col col33 discover-navsearch">
        <i class="ion ion-search"></i>
      </div>
    </div>
  </ion-nav-bar>
  <ion-content class="bg-color no-header">
    <div class="bodyFont">
      <div class="text-center">
        <h4 class="pad0 title-explore">DISCOVER</h4>
      </div>
      <div class="discover-trend">
        TRENDING THIS WEEK
      </div>
      <ion-slides class="discover-ionslide discover-sliderbutton swipperdiscover" options="sliderData.sliderOptions" slider="sliderData.sliderDelegate">
        <ion-slide-page ui-sref="app.requirement({productId:data._id})">
          <div>
            <img class="img-responsive" src="img/discover/sliderimg.PNG">
          </div>
          <p class="sliderdesc">Behold: The first high-quality photos of Apple's iPhone X in the wild</p>
          <div>
            <div class="slidertime">
              <i class="ion ion-ios-clock"></i>
              <label>3m ago</label>
              <label class="pad-left5"> broadly.vice.com</label>
            </div>
          </div>
          <div class="display-inline float-right discover-icon text-center strip">
            <label class="discoverStrip"> <img  src="img/discover/graph.png"><span class="alignM"> 20</span></label>
            <label class="discoverStrip"><img class="img-responsive" src="img/discover/shield.png">
              <span class="alignM">42</span></label>
            <label><img src="img/discover/share.png">
                <span class="colorw alignM">20</span>
            </label>
          </div>
        </ion-slide-page>
        <ion-slide-page ui-sref="app.requirement({productId:data._id})">
          <div>
            <img class="img-responsive" src="img/discover/sliderimg.PNG">
          </div>
          <p class="sliderdesc">Behold: The first high-quality photos of Apple's iPhone X in the wild</p>
          <div>
            <div class="slidertime">
              <i class="ion ion-ios-clock"></i>
              <label>3m ago</label>
              <label class="pad-left5"> broadly.vice.com</label>
            </div>
          </div>
          <div class="display-inline float-right discover-icon text-center strip">
            <label class="discoverStrip"> <img  src="img/discover/graph.png"><span class="alignM"> 20</span></label>
            <label class="discoverStrip"><img class="img-responsive" src="img/discover/shield.png">
              <span class="alignM">42</span></label>
            <label><img src="img/discover/share.png">
                <span class="colorw alignM">20</span>
            </label>
          </div>
        </ion-slide-page>
      </ion-slides>
      <div>
          <ion-scroll direction="x" class="wide-as-needed ">
              <a class="scrollFirst inline-button" ng-class="{'active-tab':activeTab==1}" ng-click="changeTab(1)">All</a>
              <a class="scrollCategories" ng-class="{'active-tab':activeTab==2}" ng-click="changeTab(2)">Just now</a>
              <a class="scrollCategories" ng-class="{'active-tab':activeTab==3}" ng-click="changeTab(3)">Politics</a>
              <a class="scrollCategories" ng-class="{'active-tab':activeTab==4}" ng-click="changeTab(4)">Fashion</a>
              <a class="scrollCategories" ng-class="{'active-tab':activeTab==5}" ng-click="changeTab(5)">Sports</a>
              <a class="scrollLast" ng-class="{'active-tab':activeTab==6}" ng-click="changeTab(6)">Technology</a>
            </ion-scroll>
      </div>
      <div ng-repeat="discover in discoverNews">
        <discover></discover>
      </div>
      </div>
  </ion-content>
  </ion-view>