<ion-view title="Trailer" class="">
   <div class="row">
        <div class="col col-10">
                <i class="closenavbar ion ion-ios-close-outline"></i>
        </div>
        <div class="col col-90">
            <div class="">
                    <span class="" for="">'Padmavati' trailer: Deepika Padukone-Shahid Ka...</span>
            </div>
        </div>
   </div>         
   <ion-content class="has-header bg-color has-footer">
    <div class="text-center">
      <h4 class="pad0 title-explore">KWACK</h4>
    </div>
    <div class="trailerImage">
      <img class="img-responsive" src="img/padmavathi.png" alt="">
    </div>
    <div class="trailerName" >
      <label for="">'Padmavati' trailer: Deepika Padukone-Shahid Kapoor and Ranveer Singh's historical saga...</label>
      <div><span class="articleDate"> Monday,</span>
        <span class="articleDate"> Oct 9, 2017</span>
        <span class="readarticleKwack">Read Article ...</span>
      </div>
      <div class="row pad0">
        <div class="col col-25 pad0">
       </div>
     </div>
    </div>
  <div class="bg-yellow">
      <h3>CHOOSE YOUR SIDE</h3>
      <label >AND START KWACKING</label>
    </div>
    <div class="row">
      <div class="col col-30 yourSide rel">
        <div>
          <img src="img/43.PNG" alt="">
          <div class="yoursideright"></div>
        </div>
        <label  class="yourside-labelsel">FOR</label>
      </div>
      <div class="col col-30 yourSide rel">
        <div>
          <img src="img/34231233.PNG" alt="">
          <div class="yoursideright"></div>
        </div>
        <label class="yourside-label" for="">AGAINST</label>
      </div>
      <div class="col col-30 yourSide">
      <img src="img/Untitled-4 copy.PNG" alt="">
      <label class="yourside-label" for="">NEUTRAL</label>
     </div>
    </div>
    <div class="text-center martop">
      <img class="aligntop" src="img/tick.PNG" alt="">
      <label class="pad-left5 fs-10">CHECK TO GO ANONYMOUS</label>
    </div>
    <!-- <button class=" trailernext" ng-click="openModal()"> -->
        <button class=" trailernext" ui-sref="debate">
      NEXT
    </button>
  </ion-content>

</ion-view>