<ion-view>
    <ion-nav-bar class="bar-stable schedule-bar  nav-height">
        <div class="text-center" ui-sref="tab.aboutinside">
            <i class="closenavbar ion ion-ios-close-outline"></i>
        </div>
    </ion-nav-bar>
    <ion-content class="bg-color setting  has-bottom">
        <div class="terms">
            <h4>Terms of Use</h4>
            <p>Hi! Welcome to Kwack Kwack Terms of Service</p>
            <h4 class="terms-subheading">What it this app about?</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it
                to make a type specimen book. It has survived not only
                <span class="text-bold">five centuries</span>, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
            <h4 class="terms-subheading">Why should i read this?</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                <span class="text-bold">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</span>, when an unknown printer
                took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                but also the leap into electronic typesetting, remaining essentially unchanged. Sed ut perspiciatis unde
                omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae
                ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem
                quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem
                sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,
                sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
            <h4 class="terms-subheading">How does Kwack Kwack protect my privacy?</h4>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse molestias maiores eveniet impedit distinctio rerum
                tempore blanditiis dolores sit non incidunt, iusto explicabo nobis excepturi ex optio vero necessitatibus
                eaque! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse molestias maiores eveniet impedit distinctio
                rerum tempore blanditiis dolores sit non incidunt, iusto explicabo nobis excepturi ex optio vero necessitatibus
                eaque!
            </p>
        </div>
    </ion-content>
</ion-view>