
<ion-view title="Trailer" class="">
    <div class="row">
        <div class="col col-10">
                <i class="closenavbar ion ion-ios-close-outline"></i>
        </div>
        <div class="col col-90">
            <div class="Trailertitle">
                    <span class="" for="">'Padmavati' trailer: Deepika Padukone-Shahid Ka...</label>
            </div>
        </div>
            
    </div>         
   <ion-content class="has-header">
<div>
    
</div>
    </ion-content>
</ion-view>