<ion-view title="YourFriends" class="bg-color">
  <ion-nav-bar class="bar-stable schedule-bar  nav-height">
    <div class="w15 mar-auto" ng-click="goBackHandler()">
      <i class="closenavbar ion ion-ios-close-outline"></i>
    </div>
    <div>
      <h2 class="title-discover text-center">YOUR FRIENDS</h2>
    </div>

    <div class="text-center your-friends mart40">
      <button class="button all-friends-btn" ng-class="{'bor-bot': allpeople=='all'}" ng-click="allcontactpeople('all')">All Friends</button>
      <button class="button all-friends-btn" ng-class="{'bor-bot': allpeople=='people'}" ng-click="allcontactpeople('people'); doRefresh()">People</button>
      <button class="button all-friends-btn" ng-class="{'bor-bot': allpeople=='contact'}" ng-click="allcontactpeople('contact'); contacts()">contact</button>
    </div>
    <div class="searchby-name relative">
      <input type="text" placeholder="search by names numbers" ng-model="followingData.userBeenFollowed">
      <i class="ion ion-search"></i>
    </div>
  </ion-nav-bar>
  
  <ion-content class="contactHeader">
    <ion-refresher on-refresh="doRefresh()"></ion-refresher>
    <div class="list listdetail list-mar">
      <div ng-if="allpeople=='all'" class="content-scroll list-profile">
        <a class="item item-avatar" ng-repeat="friends in followingData | filter:followingData.userBeenFollowed">
          <img src="{{friends.userBeenFollowed.photo | uploadpath}}">
          <i class="ion ion-star"></i>
          <h2>{{friends.userBeenFollowed.name}}</h2>
          <p>{{friends.userBeenFollowed.userName}}</p>
          <img class="followersUn" ng-show="!follow" ng-click='follow=true' src="img/inviteFriends/Unfollow.png">
          <img class="followersUn" ng-show="follow" ng-click='follow=false' src="img/inviteFriends/follow.png">
        </a>
        <!-- <a class="item item-avatar">
          <img src="img/inviteFriends/Dp.png">
          <h2>Apoorv Akhouri</h2>
          <p>apoorv-08</p>
          <img class="followersUn" ng-show="!follow1" ng-click='follow1=true' src="img/inviteFriends/Unfollow.png">
          <img class="followersUn" ng-show="follow1" ng-click='follow1=false' src="img/inviteFriends/follow.png">
        </a>
        <a class="item item-avatar">
          <img src="img/inviteFriends/Dp.png">
          <h2>Sarvesh Bramhe</h2>
          <p>saru17</p>
          <img class="followersUn" ng-show="!follow2" ng-click='follow2=true' src="img/inviteFriends/Unfollow.png">
          <img class="followersUn" ng-show="follow2" ng-click='follow2=false' src="img/inviteFriends/follow.png">
        </a>
        <a class="item item-avatar">
          <img src="img/inviteFriends/Dp.png">
          <i class="ion ion-star"></i>
          <h2>Sarvesh Bramhe</h2>
          <p>saru17</p>
          <img class="followersUn" ng-show="!follow2" ng-click='follow2=true' src="img/inviteFriends/Unfollow.png">
          <img class="followersUn" ng-show="follow2" ng-click='follow2=false' src="img/inviteFriends/follow.png">
        </a>
        <a class="item item-avatar">
          <img src="img/inviteFriends/Dp.png">
          <h2>Sarvesh Bramhe</h2>
          <p>saru17</p>
          <img class="followersUn" ng-show="!follow2" ng-click='follow2=true' src="img/inviteFriends/Unfollow.png">
          <img class="followersUn" ng-show="follow2" ng-click='follow2=false' src="img/inviteFriends/follow.png">
        </a>
        <a class="item item-avatar">
          <img src="img/inviteFriends/Dp.png">
          <h2>Sarvesh Bramhe</h2>
          <p>saru17</p>
          <img class="followersUn" ng-show="!follow2" ng-click='follow2=true' src="img/inviteFriends/Unfollow.png">
          <img class="followersUn" ng-show="follow2" ng-click='follow2=false' src="img/inviteFriends/follow.png">
        </a>
        <a class="item item-avatar">
          <img src="img/inviteFriends/Dp.png">
          <h2>Sarvesh Bramhe</h2>
          <p>saru17</p>
          <img class="followersUn" ng-show="!follow2" ng-click='follow2=true' src="img/inviteFriends/Unfollow.png">
          <img class="followersUn" ng-show="follow2" ng-click='follow2=false' src="img/inviteFriends/follow.png">
        </a>
        <a class="item item-avatar">
          <img src="img/inviteFriends/Dp.png">
          <h2>Sarvesh Bramhe</h2>
          <p>saru17</p>
          <img class="followersUn" ng-show="!follow2" ng-click='follow2=true' src="img/inviteFriends/Unfollow.png">
          <img class="followersUn" ng-show="follow2" ng-click='follow2=false' src="img/inviteFriends/follow.png">
        </a>
        <a class="item item-avatar">
          <img src="img/inviteFriends/Dp.png">
          <h2>Sarvesh Bramhe</h2>
          <p>saru17</p>
          <img class="followersUn" ng-show="!follow2" ng-click='follow2=true' src="img/inviteFriends/Unfollow.png">
          <img class="followersUn" ng-show="follow2" ng-click='follow2=false' src="img/inviteFriends/follow.png">
        </a> -->
      </div>
      <div ng-if="allpeople == 'people'" class="content-scroll list-profile">
        <!-- <span class="contact">A</span> -->
        <div data-ng-repeat="(letter, authors) in sorted_users" class="alpha_list">
            <ion-item class="item item-divider" id="index_{{letter}}">
              
              <span class="contact">{{letter}}</span>
            </ion-item>
            <!-- <ion-item > -->
                <a class="item item-avatar" ng-repeat="author in authors">
                    <img src="{{author.photo[0].value | uploadpath}}">
                    <h2>{{author.name}}</h2>
                    <p>{{authoruserName}}</p>
                    <img class="followersUn" ng-show="!follow" ng-click='follow=true' src="img/inviteFriends/Unfollow.png">
                    <img class="followersUn" ng-show="follow" ng-click='follow=false' src="img/inviteFriends/follow.png">
                  </a>
            <!-- </ion-item> -->
          </div>
          
       
        <!-- <a class="item item-avatar">
          <img src="img/inviteFriends/Dp.png">
          <h2>Apoorv Akhouri</h2>
          <p>apoorv-08</p>
          <img class="followersUn" ng-show="!follow1" ng-click='follow1=true' src="img/inviteFriends/Unfollow.png">
          <img class="followersUn" ng-show="follow1" ng-click='follow1=false' src="img/inviteFriends/follow.png">
        </a>
        <a class="item item-avatar">
          <img src="img/inviteFriends/Dp.png">
          <h2>Apoorv Akhouri</h2>
          <p>apoorv-08</p>
          <img class="followersUn" ng-show="!follow1" ng-click='follow1=true' src="img/inviteFriends/Unfollow.png">
          <img class="followersUn" ng-show="follow1" ng-click='follow1=false' src="img/inviteFriends/follow.png">
        </a>
        <span class="contact">B</span>
        <a class="item item-avatar">
          <img src="img/inviteFriends/Dp.png">
          <h2>Apoorv Akhouri</h2>
          <p>apoorv-08</p>
          <img class="followersUn" ng-show="!follow1" ng-click='follow1=true' src="img/inviteFriends/Unfollow.png">
          <img class="followersUn" ng-show="follow1" ng-click='follow1=false' src="img/inviteFriends/follow.png">
        </a>
        <a class="item item-avatar">
          <img src="img/inviteFriends/Dp.png">
          <h2>Apoorv Akhouri</h2>
          <p>apoorv-08</p>
          <img class="followersUn" ng-show="!follow1" ng-click='follow1=true' src="img/inviteFriends/Unfollow.png">
          <img class="followersUn" ng-show="follow1" ng-click='follow1=false' src="img/inviteFriends/follow.png">
        </a>
        <a class="item item-avatar">
          <img src="img/inviteFriends/Dp.png">
          <h2>Apoorv Akhouri</h2>
          <p>apoorv-08</p>
          <img class="followersUn" ng-show="!follow1" ng-click='follow1=true' src="img/inviteFriends/Unfollow.png">
          <img class="followersUn" ng-show="follow1" ng-click='follow1=false' src="img/inviteFriends/follow.png">
        </a>
        <a class="item item-avatar">
          <img src="img/inviteFriends/Dp.png">
          <h2>Apoorv Akhouri</h2>
          <p>apoorv-08</p>
          <img class="followersUn" ng-show="!follow1" ng-click='follow1=true' src="img/inviteFriends/Unfollow.png">
          <img class="followersUn" ng-show="follow1" ng-click='follow1=false' src="img/inviteFriends/follow.png">
        </a> -->
      </div>
      <div ng-if="allpeople == 'contact'"   class="content-scroll list-profile">
        <div data-ng-repeat="(letter, authors) in sorted_users" class="alpha_list">
          <ion-item class="item item-divider" id="index_{{letter}}">
            
            <span class="contact">{{letter}}</span>
          </ion-item>
          <!-- <ion-item > -->
              <a class="item item-avatar" ng-repeat="author in authors">
                  <img src="{{author.photos | uploadpath}}">
                  <h2>{{author.displayName}}</h2>
                  <p>{{author.displayName}}</p>
                  <img class="followersUn" ng-show="!follow" ng-click='follow=true' src="img/inviteFriends/Unfollow.png">
                  <img class="followersUn" ng-show="follow" ng-click='follow=false' src="img/inviteFriends/follow.png">
                </a>
          <!-- </ion-item> -->
        </div>
      </div>
      </div>
      <ion-infinite-scroll ng-if="pagination.shouldLoadMore"   on-infinite="loadMore()" distance="2px">  <ion-infinite-scroll-content></ion-infinite-scroll-content></ion-infinite-scroll>        
      
    </ion-content>
    <ul class="alpha_sidebar" ng-if="allpeople == 'contact' || allpeople == 'people'">
      <li ng-click="gotoList('index_{{letter}}')"ng-repeat="letter in alphabet"> 
          {{letter}}
      </li>
    </ul>
   
    <!-- <div class="footer">
      <div class="bar bar-footer bar-black">
        <div class="row">   
          <div class="col-90" ui-sref="discover">
            <div class="skip text-right">
              <span>NEXT</span>
            </div>
          </div>
        </div>
        </div>
        </div> -->
   </ion-view>
