.verysmall {
    .navHead{
        font-size: 11px !important;
    }
    .scrollCategories{
        font-size: 11px !important;
    }
    .scrollFirst{
        font-size:11px !important;
    }
    .editName .editusername{
        font-size: 12px;
    }
    .editCity{
        font-size:10px;
    }
    .view-all{
        label{
            font-size: 8px !important;
        }
    }
    
    .alpha_sidebar{
        font-size: 10px;
    }
    .frnds{
        font-size: 11.5px !important;
    }
    .userName label {
        font-size: 9px !important;
    }
    .cncelNav{
        font-size: 9px !important;
    }
    div {
        font-size: 10px !important;
    }
    label {
        font-size: 10px !important;
    }
    p {
        font-size: 9.5px !important;
    }
    span {
        font-size: 9px !important;
    }
    button {
        font-size: 10px !important;
    }
    h5 {
        font-size: 10px !important;
    }
    h4 {
        font-size: 12px !important;
    }
    h2 {
        font-size: 11px !important;
    }
    h3{
        font-size: 11px !important;
    }
    .filter {
        h4{
            font-size: 12px !important;

        }
    }
    .setting .item-input-inset .item-input-wrapper input{
        font-size: 10px !important;
    }
    .searchby-name input {
        font-size: 10px !important;
    }
    // .title-explore {
    //     font-size: 11px !important;
    // }
    .category-preferences h6 {
        font-size: 10px;
    }
    .select-month {
        font-size: 10px;
    }
    .select-year {
        font-size: 11px;
    }
    .placeholderCat input{
        font-size: 11px;
    }
}

.small {
    .navHead{
        font-size: 12px !important;
    }
    .scrollCategories{
        font-size: 12px !important;
    }
    .scrollFirst{
        font-size:12px !important;
    }
    .editName .editusername{
        font-size: 12.5px;
    }
    .editCity{
        font-size:11px;
    }
    .view-all{
        label{
            font-size: 9.5px !important;
        }
    }
    .userNamee{
        label{
            font-size: 9.5px !important;
        }
        
    }
    .alpha_sidebar{
        font-size: 11px;
    }
    .btn-bg {
        font-size: 11px;
    }
    .cncelNav{
        font-size: 9.5px !important;
    }
    .userName label {
        font-size: 9.5px !important;
    }
    div {
        font-size: 11px !important;
    }
    label {
        font-size: 11px !important;
    }
    p {
        font-size: 10px !important;
    }
    span {
        font-size: 9.5px !important;
    }
    h5 {
        font-size: 11px !important;
    }
    h4 {
        font-size: 13px !important;
    }
    h2 {
        font-size: 12px !important;
    }
    h3{
        font-size: 12px !important;
    }
    .filter h4{
        font-size: 13px !important;
    }
    // .title-explore {
    //     font-size: 12px !important;
    // }
    .setting .item-input-inset .item-input-wrapper input{
        font-size: 10.5px !important;
    }
    .searchby-name input {
        font-size: 11px !important;
    }
    .frnds{
        font-size: 12px !important;
    }
    .category-preferences h6 {
        font-size: 11px;
    }
    .select-month {
        font-size: 11px;
    }
    .select-year {
        font-size: 12px;
    }
    .placeholderCat input{
        font-size: 12px;
    }
}

.medium {
    .navHead{
        font-size: 13px !important;
    }
    .scrollCategories{
        font-size: 13px !important;
    }
    .scrollFirst{
        font-size:13px !important;
    }
    .view-all{
        label{
            font-size: 10px !important;
        }
    }
    .editName .editusername{
        font-size: 13px;
    }
    .userNamee{
        label{
            font-size: 10px !important;
        }
        
    }
    .alpha_sidebar{
        font-size: 12px;
    }
    .editCity{
        font-size:12px;
    }
    .btn-bg {
        font-size: 12px;
    }
    .cncelNav{
        font-size: 10px !important;
    }
    .userName label {
        font-size: 10px !important;
    }
    div {
        font-size: 12px !important;
    }
    label {
        font-size: 12px !important;
    }
    p {
        font-size: 10.5px !important;
    }
    span {
        font-size: 10px !important;
    }
    h5 {
        font-size: 13px !important;
    }
    h4 {
        font-size: 14px !important;
    }
    h2 {
        font-size: 13px !important;
    }
    h3{
        font-size: 14px !important;
    }
    .filter h4{
        font-size: 14px !important;
    }
    .title-explore {
        font-size: 13px !important;
    }
    .setting .item-input-inset .item-input-wrapper input{
        font-size: 11px !important;
    }
    .searchby-name input {
        font-size: 12px !important;
    }
    .frnds{
        font-size: 13px !important;
    }
    .category-preferences h6 {
        font-size: 12px;
    }
    .select-month {
        font-size: 12px;
    }
    .select-year {
        font-size: 13px;
    }
    .placeholderCat input{
        font-size: 13px;
    }
}

.bold {
    .navHead{
        font-size: 14px !important;
    }
    .scrollCategories{
        font-size: 14px !important;
    }
    .scrollFirst{
        font-size:14px !important;
    }
    .editName .editusername{
        font-size: 14px;
    }
    .editCity{
        font-size:14px;
    }
    .view-all{
        label{
            font-size: 10.5px !important;
        }
    }
    .userNamee{
        label{
            font-size: 11px !important;
        }
        
    }
    .alpha_sidebar{
        font-size: 13px;
    }
    .btn-bg {
        font-size: 13px;
    }
    .cncelNav{
        font-size: 10.5px !important;
    }
    .userName label {
        font-size: 11px !important;
    }
    div {
        font-size: 13px !important;
    }
    label {
        font-size: 13px !important;
    }
    p {
        font-size: 11px !important;
    }
    span {
        font-size: 10.5px !important;
    }
    h5 {
        font-size: 15px !important;
    }
    h4 {
        font-size: 15px !important;
    }
    h2 {
        font-size: 14px !important;
    }
    h3{
        font-size: 15px !important;
    }
    .filter h4{
        font-size: 15px !important;
    }
    .title-explore {
        font-size: 14px !important;
    }
    .setting .item-input-inset .item-input-wrapper input{
        font-size: 12px !important;
    }
    .searchby-name input {
        font-size: 13px !important;
    }
    .frnds{
        font-size: 14px !important;
    }
    .category-preferences h6 {
        font-size: 13px;
    }
    .select-month {
        font-size: 13px;
    }
    .select-year {
        font-size: 14x;
    }
    .placeholderCat input{
        font-size: 14px;
    }
}