
        
            <div class="otp locationMargin">
                <div class="w25 mar-auto">
                    <img src="img/filter/7.png" alt="logo" class="w100">
                </div>
                <div class="text-center success">
                    <h2 class="title-discover">ERROR!</h2>
                    <P class="discover-para">Ooops, something went wrong </P>
                </div>
                <!-- <div class="input-mar w18" >
                    <img src="img/Error.png" class="w100 mart40">
                </div> -->
            </div>
  
