<div class="debate-card relative">
    <div class="debateprofile" ng-if="debate.comment.anonymous=='YES' && !debate.comment.user.photo">
        <img ng-src="img/profile/profile.png" alt="profile-img" class="profile-w">
    </div>
    <div class="debateprofile" ng-if="debate.comment.anonymous=='NO' && !showDefaultImg">
        <img ng-src="{{debate.comment.user.photo | uploadpath}}" alt="profile-img" class="profile-w">
    </div>
    <div class="list card">
        <div class="item item-body">
            <div class="row">
                <div class="col col-20 relative">
                </div>
                <div class="col col-80">
                    <div class="test">
                        <div class="debate-user user-flex">
                            <span ng-if="debate.comment.anonymous=='YES'">Anonymous</span>
                            <span ng-if="debate.comment.anonymous=='NO'">{{debate.comment.user.name}}</span>
                            <img ng-if="debate.comment.kwack=='AGAINST'" ng-src="img/debate/thum.png">
                            <img ng-if="debate.comment.kwack=='FOR'" ng-src="img/debate/1.png">
                            <img ng-if="debate.comment.kwack=='NUETRAL'" ng-src="img/debate/3.png">
                        </div>
                        <div class="time-flex text-right" >
                            <span class="carddatecl watch-w">
                                        <img src="img/explore/4.png">
                                    </span>
                            <span class="carddatecl debate-time">{{debate.comment.createdAt | fromNow}}</span>
                        </div>
                    </div>
                    <div>
                        <p>{{debate.comment.comment}}</p>
                    </div>
                    <div class="likes">
                        <span>{{debate.comment.likes.length}}</span>
                        <label ng-class="{'yellow': debate.value==true}" ng-click="addLike(debate.comment._id)">LIKES</label>
                        <!-- <label ng-class="{'yellow': lellow==true}" ng-click="addLike(debate.comment._id)">LIKES</label> -->
                        <span>{{debate.comment.repliesTo.length}}</span>
                        <label ng-click='reply(debate.comment._id)'>REPLIES</label>
                    </div>
                    <div  ng-repeat="reply in debate.comment.repliesTo">
                        <div ng-show="commId==debate.comment._id"  class="replay-likes" ng-if="debate.comment.repliesTo[0]">
                            <h6 ng-if="reply.anonymous=='YES'">anonymous</h6>
                            <h6 ng-if="reply.anonymous=='NO'">{{reply.user.name}}</h6>
                            <p>{{reply.reply}}</p>
                            <div class="right-thumb">
                                <div class="thumb-img">
                                    <div class="w9"><img src="img/debate/thumblack.png" class="w17"></div>
                                </div>
                                <div class="thumb-count">{{reply.likes.length}}</div>
                            </div>
                        </div>
                        <div class="reply-reply"  ng-show="commId==debate.comment._id">
                            <span>1m</span><span class="like-padd" ng-class="{'yellow': reply.replieslike==true}" ng-click="addLikeToReply(reply._id,debate.comment._id)">Like</span><span class="like-padd">Reply</span><span class="like-padd"><img src="img/debate/3.png" class="w9"></span>
                        </div>

                       
                    </div>
                   
                    
                   
                </div>
            </div>
        </div>
    </div>
</div>