<div class="news-discover item-index">
        <div class="list card">
          <div class="item item-body pad2010" >
            <img class="full-image" ng-src="{{discover.imageUrl}}">
            <h3 class="pad0" >{{discover.title}}</h3>
            <div>
            </div>
            <div class="detail-para">
              <p class="pad0">{{discover.description}}</p>
            </div>
            <span><img src="img/explore/4.png"></span> <span>{{discover.time}}</span>
            <span><img class="viewImg" src="img/discover/views.PNG" alt=""></span> <span>{{discover.realTotalCount}}</span>
            <div class="display-inline float-right explore-icon text-center">
              <!--<label class="discoverCardStrip"  ui-sref="tab.startPolling"> <img  src="img/explore/5.png"><span class="alignM"> {{discover.poll}}</span></label>-->
               <label class="discoverCardStrip"  ng-click="nextPage(discover._id)"> <img  src="img/explore/5.png"><span class="alignM"> {{discover.polls.length}}</span></label>{{discover.polls.length}}
              <label class="discoverCardStrip" ui-sref="tab.trailer"><a href="discover"><img class="img-responsive" src="img/explore/6.png"></a>
                <span class="alignM">{{discover.kwack}}</span></label>
              <label><img src="img/explore/7.png">
                <span class="colorw alignM">{{discover.share}}</span></label>
            </div>
          </div>
        </div>
      </div>