<div class="news-discover">
        <div class="list card">
          <div class="item item-body pad2010">
            <img class="full-image" ng-src="{{discover.img}}">
            <h3 class="pad0">{{discover.news}}</h3>
            <div>
            </div>
            <div class="detail-para">
              <p class="pad0">{{discover.desc}}</p>
            </div>
            <span><img src="img/explore/4.png" alt=""></span> <span>{{discover.time}}</span>
            <span><img class="viewImg" src="img/discover/views.PNG" alt=""></span> <span>{{discover.likes}}</span>
            <div class="display-inline float-right explore-icon text-center ">
              <label class="discoverCardStrip"> <img class="" src="img/explore/5.png"><span class=" alignM"> {{discover.poll}}</span></label>
              <label class="discoverCardStrip"><img class="img-responsive" src="img/explore/6.png">
                <span class="alignM">{{discover.kwack}}</span></label>
              <label><img src="img/explore/7.png">
                <span class="colorw alignM">{{discover.share}}</span></label>
            </div>
          </div>
        </div>
      </div>