<div class="discoverHead">
        <div class="item item-thumbnail-left ">
            <img class="img-responsive" src="{{discover.img}}">
            <div class="row  padb5">
                <div class="col-50">
                        <label for="" class="operator">Smooth Operator</label>
                </div>
               <div class="col-50">
                    <div class="text-right" >
                            <span class="carddatecl watch-w">
                                <img src="img/explore/4.png">
                            </span>
                            <span class="carddatecl discoverFullTime">8 hoursa go</span>
                        </div>
               </div>
                
            </div>
            
                <h2>Bullet train will boost GSDP of Maharashtra, Gujarat: Devendra Fadnavis </h2>
                <p>vultures.com</p>
                <p class=" float-right explore-icon text-center ">
                    <label class="discoverCardStrip">
                        <img class="" src="img/explore/5.png">
                        <span class=" alignM"> 21</span>
                    </label>
                    <label class="discoverCardStrip">
                        <img class="img-responsive" src="img/explore/6.png">
                        <span class=" alignM"> 42</span>
                    </label>
                    <label>
                        <img src="img/explore/7.png">
                        <span class="colorw alignM">12</span>
                    </label>
                </p>
            </div>
      </div>