<div class="news-content">
        <div>
            <label class="absolute just-now-label">{{news.just}}</label>
        </div>
        <div class="list card">
            <div class="relative">
                <img class="full-image" ng-src="{{news.img}}">
                <label class="absolute movie-label">{{news.movie}}</label>
            </div>
            <div class="item item-body">
                <h3 class="pad0">{{news.news}}</h3>
                <div class="date-time">
                    <span class="carddatecl">{{news.day}},</span><span class="carddatecl"> {{news.date}}</span>
                    <span class="padd-lr carddatecl">{{news.email}}</span>
                    <span class="carddatecl"><img src="img/explore/4.png"></span> <span class="carddatecl">{{news.time}}</span>
                </div>
                <div class="detail-para">
                    <p class="pad0">
                        {{news.desc}}
                    </p>
                </div>
                <div class="display-inline">
                    <div class="w56"><img src="img/explore/3.png" class="w100"></div>
                </div>
                <div class="display-inline float-right explore-icon text-center">
                    <label class="discoverCardStrip"> <img src="img/explore/5.png"><span class="alignM"> {{news.poll}}</span></label>
                    <label class="discoverCardStrip"><img class="img-responsive" src="img/explore/6.png">
                          <span class="alignM">{{news.kwack}}</span></label>
                    <label><img src="img/explore/7.png"><span class="colorw alignM">{{news.share}}</span></label>
                </div>
            </div>
        </div>
    </div>
 