<div class="item item-thumbnail-left ">
        <img class="img-responsive" src="img/invite/padthumb.jpg">
        <h2>'Padmavati' trailer: Deepika Padukone-Shahid Kapoor and </h2>
        <p>Thursday, 19 Aug 2017</p>
        <p class=" float-right explore-icon text-center ">
            <label class="discoverCardStrip">
                <img class="" src="img/explore/5.png">
                <span class=" alignM"> 21</span>
            </label>
            <label class="discoverCardStrip">
                <img class="img-responsive" src="img/explore/6.png">
                <span class=" alignM"> 42</span>
            </label>
            <label>
                <img src="img/explore/7.png">
                <span class="colorw alignM">12</span>
            </label>
        </p>
    </div>