<div class="item item-thumbnail-left ">
    <img  ng-src="{{test.imageUrl}}" class="img-responsive">
        <h2>{{test.name}} </h2>
        <p>{{test.description}}</p>
        <p class=" float-right explore-icon text-center ">
            <label class="discoverCardStrip">
                <img class="" src="img/explore/5.png">
                <span class=" alignM"> 21</span>
            </label>
            <label class="discoverCardStrip">
                <img class="img-responsive" src="img/explore/6.png">
                <span class=" alignM"> 42</span>
            </label>
            <label>
                <img src="img/explore/7.png">
                <span class="colorw alignM">12</span>
            </label>
        </p>
    </div>